@tailwind base;
@tailwind components;
@tailwind utilities;

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.root-wrapper {
  max-width: 600px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 36px;
}

.r-pointerEvents-12vffkv > * {
  pointer-events: none;
}

@font-face {
  font-family: "UhBee-Bold";
  src: url("/src/assets/fonts/uhbee/UhBee-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "UhBee";
  src: url("/src/assets/fonts/uhbee/UhBee.ttf")
    format("truetype");
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("/src/assets/fonts/pretendard/Pretendard-Black.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("/src/assets/fonts/pretendard/Pretendard-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("/src/assets/fonts/pretendard/Pretendard-ExtraLight.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("/src/assets/fonts/pretendard/Pretendard-Light.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/src/assets/fonts/pretendard/Pretendard-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("/src/assets/fonts/pretendard/Pretendard-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/src/assets/fonts/pretendard/Pretendard-SemiBold.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("/src/assets/fonts/pretendard/Pretendard-Thin.otf")
    format("opentype");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("/src/assets/fonts/pretendard/Pretendard-Thin.otf")
    format("opentype");
}